
.max{
    max-width: 1500px;
}
.swiper-button-next,
.swiper-button-prev { 
    color: rgb(39, 39, 39);
    transform: translateY(-154px);
}

.swiper-button-next{
    margin-right: 53PX;
}
.swiper-button-prev{
    margin-left: 53PX;
}
.tp{
    top: 726px;
}
